@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}
button,
select {
  cursor: pointer;
}

@keyframes progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.animate-progress {
  animation-name: progress;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
/* Ortak scrollbar */
.app-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(148,163,184,0.6) transparent;
}

.app-scroll::-webkit-scrollbar {
  width: 8px;
}

.app-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.app-scroll::-webkit-scrollbar-thumb {
  background: rgba(148,163,184,0.6);
  border-radius: 999px;
  backdrop-filter: blur(6px);
}

.app-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(100,116,139,0.8);
}